.nav {
  background-color: var(--blue);
  display: flex;
  padding: 0 16px;
  color: var(--white);
  font-size: 21px;
}

.nav-brand {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-link {
  padding-right: 8px;
}

.nav-link--a {
  text-decoration: none;
  color: var(--white);
}

.right {
  margin-left: auto;
}

.nav-link-toggle {
  display: none;
}

.avatar-items {
  display: flex;
  position: relative;
}

.avatar-name {
  color: var(--light-blue);
}

.avatar-img {
  position: absolute;
  display: flex;
  max-width: 50px;
  border-radius: 50%;
  top: -14px;
  left: -3em;
}

@media only screen and (max-width: 768px) {
  .nav-items, .nav {
    padding: 16px;
    flex-direction: column;
  }
  .nav-items {
    display: none;
    margin: 0;
  }
  .nav-link {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .right {
    margin-left: 0;
  }
  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .nav-toggleShow {
    display: flex;
  }
  .avatar-img {
    display: none;
  }
}

.hidden {
  display: none;
}