:root {
  /* colors */
  --dark-blue: #1d3557;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --red: #e63946;
  --white: #f1faee;
  --gray: #757586;
  /* fonts */
  --fira-sans: 'Fira Sans';
}

body {
  background-color: var(--light-blue);
  font-family: var(--fira-sans), sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container-title {
  text-align: center;
  font-size: 2.5rem;
}

.row {
  padding: 1em 3rem;
  font-size: 1.2em;
}

/* Form styles */

.form-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: minmax(auto);
  grid-gap: 15px;
}

.form-group-text {
  grid-column: 1/3;
  grid-row: 2;
}

.form-group-pass {
  grid-column: 3/5;
  grid-row: 2;
}

.form-input-text {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: .9em;
  padding: .8em .5em;
  border-radius: 5px;
}

.form-group-radio {
  display: block;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.radio-input {
  width: 32px;
  height: 32px;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  cursor: pointer;
  visibility: hidden;
}

/*size*/

.label {
  width: 100%;
  height: 250px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.radio-label1 {
  background-image: url("../img/avatar1.png");
}

.radio-label2 {
  background-image: url("../img/avatar2.png");
}

.radio-label3 {
  background-image: url("../img/avatar3.png");
}

.radio-label4 {
  background-image: url("../img/avatar4.png");
}

.form-group-radio :checked~label {
  box-shadow: inset 0 0 0 5px var(--blue);
  transition: all 0.5s ease-out;
}

.btn-submit {
  background: var(--blue);
  height: 200%;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  line-height: .9em;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 0 var(--dark-blue);
  grid-column: 2/4;
  grid-row: 3;
}

.error {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-content {
  width: 100%;
  text-align: center;
  font-size: 2.3em;
}

.error-emoji {
  font-size: 2em;
  margin: 0;
}

@media (max-width: 800px) {
  .form-main {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-submit {
    height: 50%;
    margin-bottom: 10%;
    grid-column: 1/3;
    grid-row: 4;
  }
  .form-group-text {
    grid-column: 1/2;
    grid-row: 3;
  }
  .form-group-pass {
    grid-column: 2/3;
    grid-row: 3;
  }
}